/*****************************************************************************
    set the size of the body to window size
*/
body {
    margin: 0;
    height: 65vh;
    padding-top: 35vh;
    font-size: 1.2vmin;
}

/*****************************************************************************
    center the form  on the window, add some styling
*/
form {
    margin: 0% auto 0%;
    width: 30vmin;
    background: white;
    text-align: center;
    border: 0.25vmin solid black;
    border-radius: 1.5vmin;
}
h1 {
    font-size: 2.6em;
}

/*****************************************************************************
    general styles for both input elements
*/
input {
    display: block;

    margin: 10% auto;
    width: 80%;
    padding: 1%;

    font-size: 1.2em;
    font-weight: 600;

    border-style: solid;
    border-color: silver;
    outline-color: transparent;
}
/* and a greenish background color and a small box-shadow for the button */
#submit {
    background: #69f23c;
}

/*****************************************************************************
    The border to add to a input element which was clicked
*/
.blue-border {
    box-shadow: 0 0 0.5vmin 0.5vmin #74a0f8;
}
